.image-card {
    position: absolute;
    /*left: 50%;*/
    top: 50%;
    display: inline-flex;
    /*border: #9a9a9a solid 1px;*/
    /*transform: translate(calc(-50% + 75px), -50%);*/
    /*margin-right: -150px;*/
    transform: translate(-50%, -50%);
    z-index: 999;
    transition: 300ms ease-in-out;
    pointer-events: none;
}

.image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
    pointer-events: auto;
    /*object-fit: cover;*/
    /*max-height: 800px;*/
}

.image-card-description {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    max-height: 100%;
    text-shadow: var(--text-outline-S);
    pointer-events: none;
}

.image-container > img {
    transform: scale(105%);
    box-shadow: var(--shadow);
    /*min-width: 100%;*/
    /*min-height: 100%;*/
}
.image-card-container::-webkit-scrollbar-thumb {
    background: #414141;
}

.image-anno {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(57, 109, 255, 0.3);*/
}

.image-anno-content {
    position: fixed;
    width: 80px;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 5px;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}
