@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400&display=swap');

.Intro-textbox {
    /*fonts-family: 'Cormorant Garamond', serif;*/
    /*fonts-weight: 300;*/
    z-index: 999;
    width: 480px;
    padding: 30px 30px 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: var(--shadow);
    outline: #2a2525 2px solid;
}
.Intro-textbox-title{
    /*fonts-family: 'Cormorant Garamond', serif;*/

}
@media screen and (max-width: 480px) {
    .Intro-textbox, .Intro-textbox-sign {
        scale: 80%;
        transform-origin: left top;
    }
}

.Intro-textbox-sign {
    width: 360px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Intro-textbox-sign > input {
    padding: 5px;
    width: 300px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}
.err {
    font-family: 'Cormorant Garamond', serif;
    color: brown;
    font-weight: 600;
    font-size: 0.9rem;
    width: 310px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.Intro-textbox-menu {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.Intro-textbox-menu-button {
    /*fonts-family: Helvetica, sans-serif;*/
    width: 50%;
    text-align: center;
}


.Intro-textbox-capt {
    font-size: 1.1rem;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;

}
::-webkit-scrollbar {
    width: 1px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: black;
}

.Intro-textbox-p {
    max-height: 500px;
    color: var(--black);
    overflow: scroll;
    transition: height 500ms ease-in-out;
}

.Intro-textbox-p > p > a {
    text-decoration: underline;
}

.Intro-textbox-p > p > a:hover {
    font-style: italic;
    letter-spacing: 0.3px;
}

.Intro-shader-container {
    background-position: center center;
    overflow: hidden;
    pointer-events: none;
    margin: 0 auto;
    width: calc(100% - 60px);
    /*max-height: 400px;*/
    transition: height 500ms ease-in-out;
    box-shadow: var(--shadow-light);
}
