h2 {
    font-size: 2rem;
}

h3 {
    margin: 15px;
}
.Intro-textbox {
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: var(--shadow);
}

.Intro-textbox > p {
    margin-top: 4px;
    margin-bottom: 4px;
    hyphenate-limit-chars: 12;
}

.Intro-textbox > img {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
    opacity: 0.8;
}


.Intro-textbox-title{
    font-family: 'Gaisyr', serif;
    /*font-style: italic;*/
}

@media screen and (max-width: 480px) {
    .Intro-textbox, .Intro-textbox-sign {
        scale: 80%;
        transform-origin: left top;
    }
}

.Intro-textbox-sign {
    width: 360px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Intro-textbox-sign > input {
    padding: 5px;
    width: 300px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}
.err {
    font-family: 'Cormorant Garamond', serif;
    color: brown;
    font-weight: 600;
    font-size: 0.9rem;
    width: 310px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.Intro-textbox-menu {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.Intro-textbox-menu-button {
    /*fonts-family: Helvetica, sans-serif;*/
    width: 50%;
    text-align: center;
}


.Intro-textbox-capt {
    font-size: 1.1rem;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;

}
::-webkit-scrollbar {
    width: 1px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: black;
}

.Intro-textbox-p {
    transition: height 500ms ease-in-out;
}

.Intro-textbox-p > p{
    margin-top: 12px;
    margin-bottom: 12px;
    hyphens: auto;
    hyphenate-limit-chars: 5 3 3;
}

.Intro-textbox-p > p > a {
    text-decoration: underline;
}

.Intro-textbox-p > p > a:hover {
    font-style: italic;
    letter-spacing: 0.9px;
}

.Intro-shader-container {
    background-position: center center;
    overflow: hidden;
    pointer-events: none;
    margin: 0 auto;
    width: 100%;
    /*max-height: 400px;*/
    transition: height 500ms ease-in-out;
    /*box-shadow: var(--shadow-light);*/
}
