.MenuBar {
    text-shadow: var(--text-outline-S);
}

.MenuBar-Right {
    display: flex;
    transform: translateX(172px);
    transition: transform 500ms ease-in-out;
}

.MenuBar-Right:hover {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

.MenuBar-RightLeft{
    width: 106px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.MenuBar-RightLeft > div {
    width: fit-content;
    white-space: nowrap;
}

.MenuBar-Countries, .MenuBar-Regions {
    width: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-y: scroll;
    top: 0;
    height: calc(100vh - 50px);
}

.MenuBar-Regions {
    direction: rtl;
}

.Filter-Years > a {
    width: 6%;
    max-width: 120px;
    text-align: center;
    text-shadow: var(--text-outline-L);
}
