
#world-map {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(248, 246, 245, 0.66), #cecac7, #f8f6f5);
    /*background: linear-gradient(#6e6d6c, #363432, #6e6d6c);*/

    margin-left: -10px;
}

#country-labels > rect{
    fill: #ffffff;
    stroke: #9b9690;
    stroke-width: 0.5px;
    rx: 50%;
    cursor: pointer;
}

.graticule {
    /*stroke-width: 0.5px;*/
    stroke: #dbdbdb;
}

.country-path {
    /*stroke-width: 0.5px;*/
    /*stroke: #ccc6c6;*/
    /*fill: #eeebe8;*/
}
#filters-country {
    text-shadow:
            -2px -2px 0 white,
            0   -2px 0 white,
            2px -2px 0 white,
            2px  0   0 white,
            2px  2px 0 white,
            0    2px 0 white,
            -2px  2px 0 white,
            -2px  0   0 white;
    position: absolute;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.filters {
    display: inline-flex;
    justify-content: space-between;
}

.filter-country {
    height: fit-content;
    font-size: 1.2rem;
    padding: 8px;
    margin: 5px;
    border: #111111 0.5px solid;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    writing-mode: vertical-lr;
}

.connections > * {
    position: absolute;
}
.connections-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

svg {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

/*@media (prefers-color-scheme: dark) {*/
/*    .graticule {*/
/*        !*stroke-width: 0.5px;*!*/
/*        stroke: #626262;*/
/*    }*/
/*    .country-path {*/
/*        !*stroke-width: 0.5px;*!*/
/*        stroke: #484848;*/
/*        fill: #363636;*/
/*    }*/

/*}*/
