:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #666;
  --grey: #999;
  --white: #fff;
  --black: #000;

  --xs: 5px;
  --s: 16px;
  --ms: 20px;
  --m: 28px;
  --l: 36px;

  --shadow-light:
            1px 1px 10px rgba(0, 0, 0, 0.07),
            2px 2px 20px rgba(0, 0, 0, 0.10),
            4px 4px 27px rgba(0, 0, 0, 0.12),
            8px 8px 38px rgba(0, 0, 0, 0.15),
            21px 21px 75px rgba(0, 0, 0, 0.22);
  --shadow:
          1px 1px 10px rgba(0, 0, 0, 0.14),
          2px 2px 20px rgba(0, 0, 0, 0.20),
          4px 4px 27px rgba(0, 0, 0, 0.24),
          8px 8px 38px rgba(0, 0, 0, 0.30),
          21px 21px 75px rgba(0, 0, 0, 0.44);
  --text-outline-L:
          -2px -2px 0 #D7D7D7FF,
          0   -2px 0 #D7D7D7FF,
          2px -2px 0 #D7D7D7FF,
          2px  0   0 #D7D7D7FF,
          2px  2px 0 #D7D7D7FF,
          0    2px 0 #D7D7D7FF,
          -2px  2px 0 #D7D7D7FF,
          -2px  0   0 #D7D7D7FF;
  --text-outline-S:
          -0.5px -0.5px 0 #D7D7D7FF,
          0   -0.5px 0 #D7D7D7FF,
          0.5px -0.5px 0 #D7D7D7FF,
          0.5px  0   0 #D7D7D7FF,
          0.5px  0.5px 0 #D7D7D7FF,
          0    0.5px 0 #D7D7D7FF,
          -0.5px  0.5px 0 #D7D7D7FF,
          -0.5px  0   0 #D7D7D7FF;
}

body {
    overflow: hidden;
}
.text-outline-sm {
    text-shadow: var(--text-outline-S);
}
.text-outline-lg {
    text-shadow: var(--text-outline-L);
}
@supports (-webkit-text-stroke: 1px #D7D7D7FF) {
    .text-outline-sm {
        text-shadow: none;
        text-decoration-color: rgb(38, 38, 38);
        -webkit-text-stroke: 0.5px #D7D7D7FF;
    }
    .text-outline-lg {
        text-shadow: none;
        text-decoration-color: black;
        -webkit-text-stroke: 1px #D7D7D7FF;
    }
}
.backdrop-close {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 256 256' xml:space='preserve'%3E %3Cpath d='M202.82861,197.17188a3.99991,3.99991,0,1,1-5.65722,5.65624L128,133.65723,58.82861,202.82812a3.99991,3.99991,0,0,1-5.65722-5.65624L122.343,128,53.17139,58.82812a3.99991,3.99991,0,0,1,5.65722-5.65624L128,122.34277l69.17139-69.17089a3.99991,3.99991,0,0,1,5.65722,5.65624L133.657,128Z'/%3E %3C/svg%3E") 20 20, pointer;
}




